@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .advantages-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .advantages-list__heading {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    flex-wrap: nowrap;
  }
  .advantages-list__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.advantages-list__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}
.advantages-list__text {
  color: var(--text-secondary-color);
}
.advantages-list__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: var(--main-gap);
  background-color: var(--bg-light-color);
}
