.clients-list {
  display: flex;
  justify-content: center;
  margin-right: calc(-1 * var(--main-gap));

  &__item {
    flex-basis: calc(100% / 6 - var(--main-gap));
    margin-right: var(--main-gap);
  }
}
.clients-list__link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--social-icon-main-color);
  border-radius: 4px;
  fill: var(--social-icon-main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--text-accent-color);
    border: 1px solid var(--text-accent-color);
  }
}
