.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-dark-color);

  .container {
    display: flex;
    align-items: baseline;
  }
}
.address-data {
  margin-right: 70px;
  width: 231px;
}
.address {
  font-style: normal;

  &__text {
    color: var(--text-light-color);
    margin-bottom: 9px;
  }
}
.vertical-contacts-list__item:not(:last-child) {
  margin-bottom: 9px;
}
.vertical-contacts-list__link {
  color: var(--text-light-transparent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--text-accent-color);
  }
}
.social-container {
  display: block;
  margin-right: auto;
}
.social-container__appeal,
.subscription__appeal {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-light-color);
  margin-bottom: 20px;
}
.subscription-form {
  display: flex;
}
.subscription-form__input {
  background-color: transparent;
  outline: none;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--text-light-transparent-color);
  border: 1px solid var(--border-subscription-input-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-color: var(--light-alfa-color);
  }
}
.subscription-btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  background: var(--text-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-light-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--bg-accent-btn-color);
  }
}
.subscription-btn__icon {
  fill: var(--social-icon-footer-color);
  margin-left: 10px;
}
