.header {
  border-bottom: 1px solid var(--border-header-color);
}
.menu-btn {
  display: inline-flex;
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 0;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn__icon-menu {
  cursor: pointer;
  fill: var(--text-main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn:hover .menu-btn__icon-menu,
.menu-btn:focus .menu-btn__icon-menu {
  fill: var(--bg-accent-color);
}
.navigation {
  margin-left: 93px;
}
@media screen and (max-width: 1199.98px) {
  .navigation {
    margin-left: 88px;
  }
}
.menu-list {
  display: flex;
  padding: 0;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (max-width: 767.98px) {
  .menu-list {
    display: none;
  }
}
.menu-list__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--text-accent-color);
  }
}
.menu-list__link--current {
  color: var(--text-accent-color);
  position: relative;
}
.menu-list__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--bg-accent-color);
}
.contacts-list {
  display: flex;
  margin-left: auto;
  padding: 0;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 767.98px) {
  .contacts-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    flex-direction: row;
    align-items: center;
  }
  .contacts-list__item:first-child {
    margin-right: 30px;
  }
}
.contacts-list__icon {
  fill: currentColor;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .contacts-list__icon {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1199.98px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts-list__link--tablet-up {
    padding-top: 20px;
  }
  .contacts-list__link--tablet-down {
    padding-bottom: 20px;
  }
}
.contacts-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts-list__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--text-accent-color);
}
.mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: scroll;
  padding: 48px 0 48px 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  background-color: var(--bg-main-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}
.menu-btn-close {
  display: inline-flex;
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 0;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-btn-close {
    display: none;
  }
}
.menu-btn-close__icon-menu-close {
  cursor: pointer;
  fill: var(--text-main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn-close:hover .menu-btn-close__icon-menu-close,
.menu-btn-close:focus .menu-btn-close__icon-menu-close {
  fill: var(--bg-accent-color);
}
.mob-menu__contact-list {
  margin-bottom: 64px;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__link--current {
  color: var(--text-accent-color);
}
@media screen and (max-width: 479.98px) {
  .mob-menu__link {
    font-size: 8.333vw;
  }
}
.mob-menu__link:hover,
.mob-menu__link:focus {
  color: var(--text-accent-color);
}
.mob-menu__tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--text-accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__tel:hover,
.mob-menu__tel:focus {
  color: var(--text-accent-color);
}
@media screen and (max-width: 479.98px) {
  .mob-menu__tel {
    font-size: 7.08vw;
  }
}
.mob-menu__mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479.98px) {
  .mob-menu__mail {
    font-size: 5vw;
  }
}
.mob-menu__mail:hover,
.mob-menu__mail:focus {
  color: var(--text-accent-color);
}
.mob-menu__social-list {
  display: flex;
  flex-wrap: wrap;
}
.mob-menu__social-item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  color: var(--text-accent-color);
}
.mob-menu__social-item:not(:last-child):after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--border-input-textarea-color);
  width: 1px;
  height: 22px;
}
.mob-menu__social-link {
  color: var(--text-accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__social-link:hover,
.mob-menu__social-link:focus {
  color: var(--text-accent-color);
}
.no-scroll {
  overflow: hidden;
}
