.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(var(--bg-first-hero-color), var(--bg-first-hero-color)),
    url('../images/hero/mobile/image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  background-color: var(--bg-last-hero-color);
  margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--bg-first-hero-color), var(--bg-first-hero-color)),
      url('../images/hero/mobile/image@2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(var(--bg-first-hero-color), var(--bg-first-hero-color)),
      url('../images/hero/tablet/image.jpg');
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--bg-first-hero-color), var(--bg-first-hero-color)),
      url('../images/hero/tablet/image@2x.jpg');
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(var(--bg-first-hero-color), var(--bg-first-hero-color)),
      url('../images/hero/desktop/image.jpg');
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--bg-first-hero-color), var(--bg-first-hero-color)),
      url('../images/hero/desktop/image@2x.jpg');
  }
}

.main-title {
  color: var(--text-light-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: var(--main-gap);
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.main-btn {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border: 0;
  background-color: var(--bg-accent-color);
  color: var(--text-light-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  height: 50px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--bg-accent-btn-color);
  }
}
