:root {
  --text-main-color: #212121;
  --text-secondary-color: #757575;
  --text-light-color: #ffffff;
  --text-light-transparent-color: rgba(255, 255, 255, 0.6);
  --text-dark-color: #000000;
  --text-accent-color: #2196f3;
  --bg-main-color: #ffffff;
  --bg-light-color: #f5f4fa;
  --bg-dark-color: #2f303a;
  --bg-accent-color: #2196f3;
  --bg-accent-btn-color: #188ce8;
  --bg-first-hero-color: rgba(47, 48, 58, 0.4);
  --bg-last-hero-color: #c4c4c4;
  --bg-portfolio-example-thumb-color: rgba(33, 150, 243, 0.9);
  --bg-activity-text-thumb-color: rgba(47, 48, 58, 0.8);
  --social-icon-main-color: #afb1b8;
  --social-icon-footer-color: #ffffff;
  --social-icon-bg-footer-color: rgba(255, 255, 255, 0.1);
  --border-header-color: #ececec;
  --border-card-color: #eeeeee;
  --border-subscription-input-color: rgba(255, 255, 255, 0.3);
  --border-input-textarea-color: rgba(33, 33, 33, 0.2);
  --border-comment-textarea-color: rgba(117, 117, 117, 0.5);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --main-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;
  --main-gap: 30px;
}
